<div class="example-container">
  <h2>Enter your details</h2>
  <form [formGroup]="userData" autocomplete="off" novalidate (ngSubmit)="createUser(userData.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput type="text" placeholder="Your name" formControlName="name" id="name">
      <mat-hint align="end">Not more then 30 characters long.</mat-hint>
      <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
      <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose your date of birth" formControlName="dateOfBirth"
        id="dateOfBirth" readonly (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text" placeholder="Your address" formControlName="address"></textarea>
      <mat-hint align="end">Not more then 100 characters long.</mat-hint>
      <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
      <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 100 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Your Phone Number" formControlName="phoneNumber" id="phoneNumber">
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Include 0 if international nubmer</mat-hint>
      <mat-error *ngIf="hasError('phoneNumber','required')">You must enter a phone number</mat-error>
      <mat-error *ngIf="hasError('phoneNumber','number')">Phone Number is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="hasError('email','required')">You must enter a email ID</mat-error>
      <mat-error *ngIf="hasError('email','email')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Your total years of exprience" formControlName="exprience"
        id="exprience">
      <mat-hint>enter your total years of exprience</mat-hint>
      <mat-error *ngIf="hasError('exprience','required')">You must enter your years of exprience</mat-error>
      <mat-error *ngIf="hasError('exprience','number')">Years of exprience is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text" placeholder="About you" formControlName="aboutYou"></textarea>
      <mat-hint align="end">Not more then 300 characters long.</mat-hint>
      <mat-error *ngIf="hasError('address', 'required')">About you is required</mat-error>
      <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 300 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Select your gender" formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">I prefer not to mention</mat-option>
        </mat-select>
      </mat-form-field>
      <div align="left">
          <button mat-raised-button type="submit" color="primary" [disabled]="!userData.valid">Create</button>
      </div>
  </form>
</div>
